body {
    background-color: #333;
    color: papayawhip;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px double papayawhip;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid black;
    outline-offset: 5px;
}

.circle {
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    outline: 2px solid aliceblue;
    outline-offset: 0.25rem;
    margin: 3rem auto;
}